body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (min-width:320px) and (max-width:479px) {
        width: 100%;
    }

    @media screen and (min-width:768px) {
        width: 704px;
        padding-right: 32px;
        padding-left: 32px;
    }

    @media screen and (min-width:1200px) {
        width: 1216px;
    }
}