.main-section {
    color: red;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
        margin-bottom: 60px;
    }
        &>.container {
            min-height: calc(100vh - 353px);
        } 
}

.main-render {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    padding-top: 20px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    line-height: 1.3;

@media screen and (min-width: 768px) {
        padding-top: 60px;
    }

@media screen and (min-width: 1280px) {
        font-size: 20px;
            line-height: 1.2;
    }
}

.container {
    outline: tomato 1px solid;
    justify-content: center;
    width: 100%; 
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;

    @media screen and (min-width: 480px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }

    @media screen and (min-width: 1280px){
        width: 1280px;
        
    } 
}

.abcd {
    background-color: aquamarine;
    width: 395px;
    height: 634px;
    border: gray 1px solid;
}
