.main-render {
  margin-top: -20px;
  @media screen and (min-width: 1280px) {
    margin-top: -32px;
  }
  // & > .container {
  //   min-height: calc(100vh - 390px);
  //   @media screen and (min-width: 768px) {
  //     min-height: calc(100vh - 414px);
  //   }
  // }
}
.main-section {
  padding-bottom: 40px;
  padding-top: 20px;
  min-height: calc(100vh - 304px);
  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.main-render {
  background-color: transparent;

  font-size: 12px;
  line-height: 1.3;

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
  }
}

.container {
  //   outline: tomato 1px solid;
  justify-content: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    min-height: 100%;
  }
}

.main-render__item {
  background-color: #ffffff;
  border: #000 2px solid;
  // width: 280px;
  box-shadow: 5px 5px 10px 5px (#2d2d2d);
  width: 100%;
  // flex-basis: calc(100% - 20px);
  border-radius: 0;
  transition: box-shadow 500ms linear, border 500ms linear,
    transform 300ms linear;
  overflow: hidden;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: 20px;
  padding-bottom: 10px;
  @media screen and (max-width: 767px) {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  & li {
    transition: color 500ms linear;
  }
  &:hover,
  &:focus {
    box-shadow: 5px 5px 17px 7px (#2d2d2d);

    // border-radius: 0;
    transform: scale(1.03);
  }

  @media screen and (min-width: 768px) {
    //   width: 336px;
    // height: 495px;
    //   margin-left: 20px;
    margin-top: 20px;
  }

  @media screen and (min-width: 1280px) {
    // height: 100%;
    margin-top: 32px;
  }
}
.main-render.dark .main-render__item {
  border: #ff6b08 2px solid;
  box-shadow: 5px 5px 10px 5px (#7e7d7d);
  background-color: #2d2d2d;
  & h2 {
    color: white;
  }
  &:hover {
    box-shadow: 5px 5px 17px 13px (#fdfdfd92);
  }
}

.main-render__link {
  width: 100%;
  cursor: pointer;
  appearance: none;
  border: none;
  border-radius: 5px;
  background: none;
}

// .main-render__image-box {
//   height: 398px;

.main-render__image {
  width: 100%;
  height: 398px;
  object-fit: cover;
  border-radius: 5px;
  border-top-left-radius: 0;
  // background-color: rgb(220, 52, 52);
  transition: all 400ms linear;
  @media screen and (min-width: 768px) {
    height: 455px;
  }
  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}
.main-render__discription {
  padding-left: 23px;
  padding-bottom: 20px;
}
.main-render__title {
  margin-top: 10px;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  padding-left: 23px;
  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
  }
}

.main-render__text {
  margin-top: 5px;
  text-align: left;
  font-weight: 500;
  line-height: 1.33;
  color: #ff6b08;
  padding-left: 23px;
  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 24px;
  }
}

.main-render .api-error {
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
