.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (min-width:320px) and (max-width:479px) {
    width: 100%;
  }

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}

.pagination li {
  display: flex;
  list-style-type: none;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  appearance: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 5px;

  transition: 0.5s;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  font-style: normal;

  &:focus,
  &:hover {
    background-color: #FF6B08;
    color: #FFFFFF;
    border-radius: 5px;
  }  
}

.pagination li:last-child {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pagination li.pagination-dots {
  display: none;
  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }
}

.pagination-left-arrow,
.pagination-right-arrow {
  background-color: #F7F7F7;
}

.active {
  background: #FF6B08;
  color: #ffffff;
}

