.preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1000;
    transition: all .09s ease-out;
}

.preloader_loader,
.preloader_percents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.preloader_percents {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.preloader--hide {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}


@keyframes ldio-3wvit5je2tn {
    0% {
        transform: translate(12px, 80px) scale(0);
    }

    25% {
        transform: translate(12px, 80px) scale(0);
    }

    50% {
        transform: translate(12px, 80px) scale(1);
    }

    75% {
        transform: translate(80px, 80px) scale(1);
    }

    100% {
        transform: translate(148px, 80px) scale(1);
    }
}

@keyframes ldio-3wvit5je2tn-r {
    0% {
        transform: translate(148px, 80px) scale(1);
    }

    100% {
        transform: translate(148px, 80px) scale(0);
    }
}

@keyframes ldio-3wvit5je2tn-c {
    0% {
        background: #ff6b02;
    }

    25% {
        background: #f9c19a
    }

    50% {
        background: #d85b03
    }

    75% {
        background: #d4864e
    }

    100% {
        background: #f4aa76
    }
}

.ldio-3wvit5je2tn div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px, 80px) scale(1);
    background: #ff6b02;
    animation: ldio-3wvit5je2tn 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-3wvit5je2tn div:nth-child(1) {
    background: #d85b03;
    transform: translate(148px, 80px) scale(1);
    animation: ldio-3wvit5je2tn-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1), ldio-3wvit5je2tn-c 1s infinite step-start;
}

.ldio-3wvit5je2tn div:nth-child(2) {
    animation-delay: -0.25s;
    background: #ff6b02;
}

.ldio-3wvit5je2tn div:nth-child(3) {
    animation-delay: -0.5s;
    background: #d85b03;
}

.ldio-3wvit5je2tn div:nth-child(4) {
    animation-delay: -0.75s;
    background: #df9764;
}

.ldio-3wvit5je2tn div:nth-child(5) {
    animation-delay: -1s;
    background: #f9c19a;
}

.loadingio-spinner-ellipsis-9s8e13kr7bf {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
}

.ldio-3wvit5je2tn {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-3wvit5je2tn div {
    box-sizing: content-box;
}
