<footer class="footer">
    <div class = "footer-container">
<p class="footer-text">
    &#169; 2020 <span class="footer-year">All</span> Rights <span class="footer-next-text">Reserved</span> 
</p>
  <div class="footer-content">
<p class="footer-bottom-text">Developed with</p>
<svg class="footer-icon" width="14" height="12.88">
    <use href="./images/icons.svg#icon-heart"></use>
</svg>
<p class="footer-link">
    by <a href="" class="footer-link-text">GoIT Students</a>
</p>
  </div>
    </div>
</footer>