<section class="main-section">
  <div class="container">
    <ul class="main-render">
      <li class="abcd">
      <img
        class="main-render__image"
        src="#"
        alt="film poster"
        loading="lazy"
        width="395"
        height="634"
      />
      <div class="main-render__description">
        <h2 class="main-render__name">GREYHOUND</h2>
        <p class="main-render__genre">
          Drama, Actiond
          <span class="main-render__year">2020</span>
        </p>
      </div>
    </li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
      <li class="abcd"></li>
    </ul>
  </div>
</section>
