<section class="main-section">
  <div class="container">
    <ul class="main-render">
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
        <li class="abcd"></li>
    </ul>
  </div>
</section>
