<header class="header-home">
    <div class="header__container">
        <div class="header__link-box">
            <a href="./index.html" class="logo">
                <svg class="logo__icon">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
                <p class="logo__text">Filmoteka</p>
            </a>
            <ul class="header-list">
                <li class="header-list__item"><a href="./index.html" class="header-list__link header-list__link--active">Home</a>
                </li>
                <li class="header-list__item"><a href="./library.html" class="header-list__link">my library</a></li>
            </ul>
        </div>
        <form class="header-form">
            <input type="text" placeholder="Movie search" class="header-form__input">
            <button class="header-form__btn">
                <svg class="header-form__btn-icon">
                    <use href="./images/icons.svg#icon-search"></use>
                </svg>
            </button>
        </form>
    </div>
</header>