<header class="header-library">
  <div class="container">
    <nav class="header__nav">
      <a href="./index.html" class="header__logo">
        <svg class="header__logo-svg" width="24" height="24">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <span class="header__logo-text">Filmoteka</span></a
      >
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="./index.html" class="header__nav-link">Home</a>
        </li>
        <li class="header__nav-item">
          <a
            href="./library.html"
            class="header__nav-link header-list__link--active"
            >My library</a
          >
        </li>
      </ul>
    </nav>
    <ul class="header__btn-wrapper">
      <li class="library__btn-item">
        <button class="header__btn--library btn--active" type="button">
          Watched
        </button>
      </li>
      <li class="library__btn-item">
        <button class="header__btn--library" type="button">Queue</button>
      </li>
    </ul>
  </div>
</header>
