<div class="teambackdrop is-hidden" data-backdrop>
  <div class="modal-footer">
    <h2 class="modal-footer__name-team">Drink Team</h2>
    <ul class="team-list list">
      <!-- Дмитро -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Дмитро Мельник"
            />
            <div class="team__overlay">
              <p class="team__position">Team Lead,</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Дмитро Мельник</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Dimon23114"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Богдан -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="BohdanAntoshkiv"
            />
            <div class="team__overlay">
              <p class="team__position">Scram,</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Bohdan Antoshkiv</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="#"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/BohdanAntoshkiv"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Аліна -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Аліна Проскурницька"
            />
            <div class="team__overlay">
              <p class="team__position">Loader (spinner)</p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Аліна Проскурницька</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/alina-prosk"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Yuliia Fedorychak -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Yuliia Fedorychak"
            />
            <div class="team__overlay">
              <p class="team__position">
                Верстка футера (мобілка, планшет, десктоп) (однаковий для двох
                сторінок)
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Yuliia Fedorychak</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/yulyafed"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Ксения Шикова -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Ксения Шикова"
            />
            <div class="team__overlay">
              <p class="team__position">
                Зверстати шаблон модалки одного фільму (мобілка, планшет,
                робочий стіл)
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Ксения Шикова</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Kseniia30"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Олександр Гетьманенко -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Олександр Гетьманенко"
            />
            <div class="team__overlay">
              <p class="team__position">
                Зверстати контейнер сторінки "My Library" для правильного
                позиціонування карток фільмів (мобілка, планшет, робочий стіл)
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Олександр Гетьманенко</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Alex-Ems"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!--! Александр Синицын -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Александр Синицын"
            />
            <div class="team__overlay">
              <p class="team__position">
                Реалізувати закриття модалки за натисканням на клавішу ESC і за
                кліком поза межами модалки, не забути зняти слухачів
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Александр Синицын</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Назар Безпалюк -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Назар Безпалюк"
            />
            <div class="team__overlay">
              <p class="team__position">
                Додаткове завдання: Зробити кнопку день ніч, додати анімації і
                оформити стилістику сайту
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Назар Безпалюк</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/NazarBezpaliuk"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!--! Alex Torianyk -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Alex Torianyk"
            />
            <div class="team__overlay">
              <p class="team__position">
                Реалізувати реєстрацію/автентифікацію користувача через Firebase
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Alex Torianyk</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Роман Вильданов -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Роман Вильданов"
            />
            <div class="team__overlay">
              <p class="team__position">
                Реалізувати підвантаження популярних фільмів на головну (першу)
                сторінку
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Роман Вильданов</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Vildanov-Roman"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Микола Рабушин -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Микола Рабушин"
            />
            <div class="team__overlay">
              <p class="team__position">
                Зверстати чи підключити номери сторінок (пагінація) на головній
                сторінці
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Микола Рабушин</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/mrabushyn"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
      <!-- Іван Нігаєв -->
      <li class="team-list__item">
        <article class="team">
          <div class="team__box-image">
            <img
              class="team__image"
              src="./images/tony.jpg"
              alt="Ivan Nihaiev"
            />
            <div class="team__overlay">
              <p class="team__position">
                Зверстати модалку (мобілка, планшет, десктоп) з інформацією про
                учасників вашої команди, яка відкриватиметься натисканням на
                текст "GoIT Students" у футері
              </p>
            </div>
          </div>
          <div class="team__thumb">
            <h3 class="team__name">Ivan Nihaiev</h3>
            <ul class="network-list list">
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href=""
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#linkedin"></use>
                  </svg>
                </a>
              </li>
              <li class="network-list__item">
                <a
                  class="link network-list__link"
                  href="https://github.com/Nihaiev"
                  target="_blank"
                  rel="noopener noreferre"
                >
                  <svg class="network-list__icon" width="20px" height="20px">
                    <use href="./images/icons.svg#icon-git"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </article>
      </li>
    </ul>

    <button type="button" class="modal-footer__btn-close" data-modal-close>
      <svg class="modal-footer__icon" width="30" height="30">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
