h1, h2, h3, h4, h5, h6, p, ul {margin: 0; padding: 0;}
ul {list-style: none;} 
button {cursor: pointer;}
img {display: block;}
a {text-decoration: none;}

header {}

.header__container {
    width: 280px;
    padding: 44px 20px 92px;
    margin-right: auto;
    margin-left: auto;
    background-image: url("../images/320/abstract-background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}

.header__link-box {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 112px;
}

.logo__icon {
    width: 24px;
    height: 24px;
}

.logo__text {
    display: none;
}

.header-list {
    display: flex;
}

.header-list__item:not(:last-child) {
    margin-right: 40px;
}

.header-list__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
    text-transform: uppercase;
        color: #FFFFFF;
        position: relative;
}

.header-list__link--active::after {
    content: '';
        position: absolute;
        left: 0;
        background-color: #FF001B;
        height: 3px;
        width: 100%;
        bottom: -3px;
}

.header-form {
    border-bottom: 0.5px solid #FFFFFF;
    width: 280px;
    margin-top: 60px;
}

.header-form__input {
    border: none;
        background-color: transparent;
        width: 240px;
        outline: none;
        color: #FFFFFF;
}

.header-form__input::placeholder {
    font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        display: flex;
        align-items: center;
        color: #FFFFFF;
}

.header-form__btn {
    border: none;
    background-color: transparent;
}

.header-form__btn-icon {
    width: 12px;
    height: 12px;
}

@media screen and (min-width: 768px) {
    .header__container {
        width: 704px;
        padding: 40px 32px 81px;
        background-image: url("../images/768/abstract-background.jpg");
    }
    
        .header__link-box {}
    
        .logo {
            display: flex;
            align-items: center;
            margin-right: 387px;
        }
    
        .logo__icon {}
    
        .logo__text {
            font-weight: 500;
                font-size: 30px;
                line-height: 1.16;
                display: flex;
                align-items: center;
                text-align: center;
            
                color: #FFFFFF;
                margin-left: 10px;
        }
    
        .header-list {}
    
        .header-list__item {}
    
        .header-list__link {}
    
        .header-list__link--active {}
    
        .header-form {
            margin-right: auto;
            margin-left: auto;
            margin-top: 40px;
            width: 336px;
        }
    
        .header-form__input {
            width: 300px;
        }
    
        .header-form__btn {}
    
        .header-form__btn-icon {}
}

@media screen and (min-width: 1280px) {
    .header__container {
        width: 1216px;
        background-image: url("../images/1280/abstract-background.jpg");
    }

    .header__link-box {}

    .logo {
        margin-right: 898px;
    }

    .logo__icon {}

    .logo__text {}

    .header-list {}

    .header-list__item {}

    .header-list__link {}

    .header-list__link--active {}

    .header-form {
        width: 394px;
    }

    .header-form__input {
        width: 360px;
    }

    .header-form__btn {}

    .header-form__btn-icon {}
}